body {
    background-color: wheat;
    font-family: 'Open Sans', sans-serif;
}
header {
    background-color: azure;
}

#content {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

nav {
    margin-bottom: 50px;
}


.menu {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.menu td {
    padding-left: 20px;
    vertical-align: top;
}

footer {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    background-color: #111;
    margin-top: 50px;
}

footer a {
    color: white;
}
img {
    width: 200px;
    height: 200px;
}